:root {
  --white: #fff;
  --blue100: #2175ff;
  --sky-blue100: #649fff;
  --light-blue100: #f3f7ff;
  --dark-blue100: #1e2740;
  --black87: rgba(0, 0, 0, 0.87);
  --black60: rgba(0, 0, 0, 0.6);
  --black12: rgba(0, 0, 0, 0.12);
  --black04: rgba(0, 0, 0, 0.04);
}